* {
    padding: 0;
    margin: 0;
}

.app {
    background: #004980;
    height: 100vh;
    width: 100vw;
}

.main-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 480px;
    height: 459px;

    background: #c2f5ff;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

.title {
    width: 208px;
    height: 96px;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #004980;
    padding-bottom: 48px;
}

.level {
    display: flex;
    gap: 24px;
    padding-bottom: 20px;
}

.level__number:hover {
    cursor: pointer;
}

.current-level {
    border: solid 3px #004980;
    border-radius: 12px;
}

.warning_hidden {
    display: none;
}

.warning {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;

    color: lightcoral;
    text-align: center;
    padding-bottom: 20px;
}

.button {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #fff;
    width: 246px;
    height: 50px;
    background: #7ac100;
    border: none;
    border-radius: 12px;

    &:hover {
        cursor: pointer;
        background: #649e00;
    }

    &:active {
        background: #436901;
    }
}

.head {
    height: 80px;
    padding-top: 20px;
    padding-right: 23px;
    padding-left: 23px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.timer {
    height: 80px;
    width: 156px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.cards-field {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 750px;
}

.container-for-field {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.time {
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    color: #fff;
    height: 60px;

    &__title {
        justify-content: flex-end;

        font-weight: 400;
        font-size: 16px;
        line-height: 32px;

        color: #fff;
        display: flex;
    }

    &__title-min {
        position: absolute;
        width: 28px;
        height: 32px;
        left: 61px;
        top: 22px;
    }

    &__title-sec {
        position: absolute;
        width: 26px;
        height: 32px;
        left: 146px;
        top: 22px;
    }
}

.result__container {
    position: absolute;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 73, 128, 0.9);

    display: flex;
    align-items: center;
    justify-content: center;
}

.result {
    position: absolute;
    width: 480px;
    height: 459px;
    background: #c2f5ff;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__header {
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 48px;
        color: #004980;

        padding-bottom: 28px;
    }

    &__time-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding-bottom: 40px;

        &_header {
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 32px;
            color: #000;
        }

        &_value {
            font-style: normal;
            font-weight: 400;
            font-size: 64px;
            line-height: 72px;
            color: #000;
        }
    }
}
